body{
     margin-top: 5%;
     background-color: #ccc;
}

.container {
    max-width: 400px;
   
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    width: 90%;
    padding: 10px;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  p {
    font-size: 16px;
    margin-top: 10px;
  }
  
  ul {
    text-align: center;
    list-style-type: none;
    padding: 0;
  }
  
  li {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  