body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
  padding: 10px;
  color: #333;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

h1 {
  font-size: 2.2em;
  line-height: 1.2;
  margin-bottom: 20px;
  text-align: center;
}

#pergunta {
  font-size: 1.5em;
  margin-bottom: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

#opcoes {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

#opcoes button {
  padding: 10px;
  background-color: #009999;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

#opcoes button:hover {
  background-color: #006666;
}

#resultado {
  font-size: 1.3em;
  margin-bottom: 20px;
}

#contador {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  display: none;
}

#contador h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}
