body {
    font-family: Arial, sans-serif;
  }
  
  #pergunta {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  #resposta {
    margin-bottom: 20px;
  }
  
  #resultado {
    font-weight: bold;
  }
  
  #contador {
    display: none;
  }
  
  #contagem {
    list-style: none;
    padding: 0;
  }
  
  #contagem li {
    margin-bottom: 5px;
  }
  